@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Zhi+Mang+Xing&display=swap');
*{
	margin: 0px;
	font-family: 'Work Sans', sans-serif;
}

img{
	display: inline-block;
}

body {
	font-family: 'Work Sans', sans-serif !important;
}

@media only screen and (max-width: 768px) {
	#main {
		grid-area: main;
		display: flex;
		align-self: center;
		justify-content: center;
		height: auto;
		flex-wrap: wrap;
	}
}


.grid-master{
	background: white;
	display: grid;
	grid-template-columns:  5% 1fr 5%;
	grid-template-rows: auto 2fr auto;
	grid-template-areas: " header  header header"
						 " . body ."
						 " footer footer footer";
}


.grid-container {
	display: grid;
	grid-template-columns: 5% 2fr 2fr 2fr 1% 1fr 5%;
	grid-template-rows:  auto auto auto 4fr 1fr;
	grid-template-areas: ". img  img img . aside ."
						 ". main-text main-text main-text . aside ."
						 ". main main main . aside ."
						 ". contact contact contact . aside ."
						 ". . . . . . .";
	grid-area: body;

}

.grid-item {
	box-shadow: rgba(0, 0, 0, 1);
}

.profile-img {
	border: 4px solid white;
	border-radius: 50%;
	width: 50%;
	height: auto;
}

#footer {
	grid-area: footer;
	
}

#aside {
	grid-area: aside;
	background: gray;
	grid-gap: 10px;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;

}


#header {
	grid-area: header;
}

#intro {
	grid-area: intro;
	background: #023946;
}

#banner {
	width: 100%;
	height: 241px;
	position: center;
}

#img {
	grid-area: img;
}

#img-circle {
	grid-row: img-start / 2;
	grid-column: img-start / 2;
	padding-left: 20px;
	padding-top: 20px;
	position: relative;
}

.main-text {
	grid-area: main-text;
	background: #336699;
	font-size: 36px;
}

#main {
	grid-area: main;
	display: flex;
	width: 100%;
	height: auto;
}

#contact {
	background: white;
	grid-area: contact;
}

.intro-text {
	position: relative;
	color: white;
	padding: 10px;
	font-family: 'Zhi Mang Xing', cursive;
	grid-row: img-start/2;
	grid-column: img-start/4;
	margin-top: 20%;
}

.list-flex {
	display: flex;
	justify-content: space-between;
}

form {
	margin: 10px;
}

h4 {
	padding-left: 10px;
}

#no-pad {
	margin: 0;
	padding 0;
	width: 100%;

}